[Unit]
Description=Simple Flask Search Engine
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/seeker/
Environment="PATH=/var/www/seeker/venv/bin"
ExecStart=/var/www/seeker/venv/bin/python app.py

[Install]
WantedBy=multi-user.target
